
@inherits LayoutComponentBase

<PageTitle>ByteBank.View</PageTitle>

<div class="page">


    <main>
        <div class="top-row px-4">
            <a href="" target="_blank"><img src="Assets/Logo.png" height="45px"></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
