@page "/fetchdata"
@using ByteBank.View.Data
@inject ViewDataClientsService ClienteService

<PageTitle>ByteBank</PageTitle>

<h1>ByteBank transações</h1>

<p>Processamento da informações do dia.</p>
<button class="btn btn-primary" @onclick="ProccessOnClick">Fazer Processamento</button>
@if (modelClient == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <p>@modelClient.tempoDecorrido</p>
        <p>@modelClient.mensagem</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Resultado:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resultado in modelClient.Resultado)
            {
                <tr>
                    <td>@resultado</td>       
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ViewModelDataClient? modelClient;

    @* protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    } *@
    private async void ProccessOnClick()
    {
      modelClient = await ClienteService.ProcessarAsync();
    }

}
